nav {
    background: #563d7c;
    color: white;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between; 
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

nav ul li {
    padding: 5px 8px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.7s ease;
}

nav ul li a:hover {
    color: gray;
}